.effect-host-arrow {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    .effect-icon-container {
        font-size: 18px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-10px, -50%);
        display: inline-flex;
        opacity: 0;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .effect-content-wrapper {
        display: inline-block;
        transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    &:hover,
    &.is-hovered {
        .effect-icon-container {
            opacity: 1;
            transform: translate(50%, -50%);
        }

        .effect-content-wrapper {
            transform: translateX(12px);
        }
    }
}