// Effect arrow
.effect-host-arrow {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    .effect-icon-container {
        font-size: 18px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-10px, -50%);
        display: inline-flex;
        opacity: 0;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .effect-content-wrapper {
        display: inline-block;
        transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    &:hover,
    &.is-hovered {
        .effect-icon-container {
            opacity: 1;
            transform: translate(50%, -50%);
        }

        .effect-content-wrapper {
            transform: translateX(12px);
        }
    }
}

// Enter effect
$animation-duration: 1s;
$animation-distance: 40px;

.enter-animation-top {
    animation: slide-top $animation-duration;
}

.enter-animation-right {
    animation: slide-right $animation-duration;
}

.enter-animation-bottom {
    animation: slide-bottom $animation-duration;
}

.enter-animation-left {
    animation: slide-left $animation-duration;
}

@keyframes slide-top {
  from {
    opacity: 0;
    transform: translateY(-$animation-distance);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-$animation-distance);

  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-bottom {
  from {
    opacity: 0;
    transform: translateY($animation-distance);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX($animation-distance);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}