@use './layout.scss' as *;

@mixin button {
    background-color: var(--color-blue-3);
    color: var(--color-white-0);
    text-transform: capitalize;
    font-size: 1.6rem;
    font-family: var(--font-family-dm);
    border: none;
    padding: 1.2rem 0;
    @include flex-center();
    height: 5rem;
    transition: background-color var(--global-transition-duration) ease, color var(--global-transition-duration) ease;
}

.mb-button-naked {
    @include button();
    background-color: transparent;
}

.mb-button-naked:hover {
    color: var(--color-blue-1);
}

.mb-button-xs {
    @include button();
    width: 6rem;
}

.mb-button-s {
    @include button();
    width: 16rem;
}

.mb-button-m {
    @include button();
    width: 22rem;
}

.mb-button-l {
    @include button();
    width: 27rem;
}

.mb-button-xxl {
    @include button();
    width: 40rem;
}

.mb-button-fullsize {
    @include button();
    width: 100%;
}

.mb-button-square {
    border-radius: 8px;
}

.mb-button-round {
    border-radius: 30px;
}