@use './layout.scss' as *;

@mixin button {
    background-color: var(--color-blue-3);
    color: var(--color-white-0);
    text-transform: capitalize;
    font-size: 1.6rem;
    font-family: var(--font-family-dm);
    border: none;
    padding: 1.2rem 0;
    @include flex-center();
    height: 5rem;
    transition: background-color var(--global-transition-duration) ease, color var(--global-transition-duration) ease;
    cursor: pointer;
}

button:disabled {
    color: var(--color-gray-0);
    background-color: transparent;
    border-color: var(--color-gray-0);
}

button:disabled:hover {
    cursor: default
}

.mb-button-naked {
    @include button();
    background-color: transparent;
    border: 1px solid var(--color-blue-3);
    color: var(--color-blue-3);
    padding: 0.8rem 1.2rem;
    border-radius: var(--global-round-radius);
    height: unset;
}

.mb-button-naked:not(:disabled):hover {
    background-color: var(--color-blue-3);
    color: var(--color-white-0)
}

.mb-button-xs {
    @include button();
    width: 6rem;
}

.mb-button-s {
    @include button();
    width: 16rem;
}

.mb-button-m {
    @include button();
    width: 22rem;
}

.mb-button-l {
    @include button();
    width: 27rem;
}

.mb-button-xxl {
    @include button();
    width: 40rem;
}

.mb-button-fullsize {
    @include button();
    width: 100%;
}

.mb-button-square {
    border-radius: 8px;
}

.mb-button-round {
    border-radius: 30px;
}

.mb-button-abort {
    color: var(--color-error);
    background-color: transparent;
    border: 1px solid var(--color-error);
}

.mb-button-abort:not(:disabled):hover {
    background-color: var(--color-error);
    color: var(--color-white-0);
}

.mb-search-input {
    border: none;
    font-size: 1.4rem;
    border: 1px solid var(--color-black-1);
    border-radius: var(--global-round-radius);
    margin: 0.4rem 1rem;
    padding: 0.9rem;
}

.mb-textarea {
    border: 1px solid var(--color-black-1);
    resize: none;
    height: 20rem;
    padding: 0.4rem;
}