* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a,
button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}

body {
    min-height: 100dvh;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}