@use './fonts.scss';
@use './colors.scss';
@use './layout.scss' as *;

@mixin default-text {
    font-family: var(--font-family-work);
    color: var(--color-black-0);
}

.heading-h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
    @include default-text();
    color: var(--color-black-0);
}

.heading-h2 {
    font-size: 3.6rem;
    font-weight: 700;
    @include default-text();
    color: var(--color-black-0);
}

.heading-h3 {
    font-size: 2.4rem;
    font-weight: 600;
    @include default-text();
    color: var(--color-black-0);
}

.heading-h4 {
    font-size: 2rem;
    font-weight: 600;
    @include default-text();
    color: var(--color-black-0);
}

.heading-h5 {
    font-size: 1.8rem;
    font-weight: 700;
    @include default-text();
    color: var(--color-blue-2);
}

.text-small {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: var(--font-family-dm);
    color: var(--color-white-0);
}

.text-description {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: var(--font-family-dm);
    color: var(--color-blue-0);
}

.text-plain {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: var(--font-family-dm);
    color: var(--color-blue-0);
}

.text-title {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-black-0);
    font-family: var(--font-family-dm);
}

.text-size-1 {
    font-size: 1.4rem;
}

.text-size-2 {
    font-size: 1.6rem;
}

.text-size-3 {
    font-size: 1.8rem;
}

.text-size-4 {
    font-size: 2.4rem;
}

.text-size-5 {
    font-size: 3rem;
}

.text-size-6 {
    font-size: 3.6rem;
}

.mb-link {
    font-weight: 400;
    font-family: var(--font-family-dm);
    transition: background-color var(--global-transition-duration) ease, color var(--global-transition-duration) ease;
}