@if (procedures(); as data) {
    @if (data.results.length > 0) {
        <div class="procedures-component-wrapper">

            <filters (filterChange)="onFiltersChange($event)">
                    <mb-dropdown label="Location" [optionsList]="availableLocations()"></mb-dropdown>
            </filters>

            <div class="procedures-wrapper">
                @for (procedure of data.results; track procedure.id) {
                    <div class="procedure-wrapper">
                        <div class="image-wrapper">
                            <img src="images/" (error)="handleImageError($event)" class="procedure-img" alt="Procedure">
                            <div class="service-icon procedure-icon" [class]="procedure.title | categoryColor">
                                <fa-icon [icon]="procedure.title | categoryIcon"></fa-icon>
                            </div>
                        </div>
                        <a class="heading-h4 procedure-link procedure-title"> {{procedure.title}} </a>
                        <p class="text-description procedure-text"> {{procedure.description}} </p>
                        <a class="mb-link text-size-2 read-more-link">Read More</a>
                    </div>
                }
            </div>  
            
            <div class="pagination-wrapper">
                <pagination [maxDisplayedPages]="5" [totalPages]="totalPages()" (pageChange)="handlePageChange($event)"></pagination>
            </div> 
        </div>
    }
} @else {
    <h1 class="heading-h1 no-results">No results</h1>
}

@if (isLoading()) {
    <loading></loading>
}