<div class="dropdown-wrapper" (clickOutside)="hideDropdown()">
    <button class="dropdown-toggle" (click)="toggleDropdown()">
        <span class="text-description"> {{ selectedOption() }} </span>
        <fa-icon [icon]="isOpen() ? angleUp : angleDown"></fa-icon>
    </button>
    
    @if (isOpen()) {
        <div class="dropdown-menu" animate.enter="enter-dropdown">
            @for (option of optionsList(); track option) {
                <button class="dropdown-item" (click)="selectOption(option)">{{ option }}</button>
            }
        </div>
    }
</div>