@use '../../styles/elements.scss' as *;

$input-width: 22.4rem;
$dropdown-max-width: 30.2rem;

.dropdown-wrapper {
    display: inline-block;
    width: inherit;
    height: inherit;

    .dropdown-toggle {
        position: relative;
        background: transparent;
        color: var(--color-black-0);
        width: inherit;
        height: inherit;
        padding: 3% 10%;
        border: 1px solid var(--color-black-1);
        border-radius: var(--global-round-radius);
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: inherit;
        cursor: pointer;

        .label {
            @include three-dots();
            white-space: nowrap;
            max-width: 90%;
        }
    }

    .dropdown-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: var(--color-white-0);
        width: inherit;
        min-height: 34rem;
        height: inherit;
        overflow-y: auto;
        border-radius: var(--global-square-radius);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        z-index: 11;
        transition: inherit;
        transform: translateY(5px);
        animation: slide-top 0.4s;

        .dropdown-button {
            width: 100%;
            text-align: start;
            background-color: transparent;
            padding: 1.6rem 2rem;
            border: none;
            @include three-dots();
            white-space: nowrap;
            color: var(--color-blue-0);
            background-color: var(--color-white-0);
            border-bottom: 0.5px solid var(--color-black-1);
            transition: all var(--global-transition-duration) ease;
        }

        .label-option {
            background-color: var(--color-blue-0);
            color: var(--color-white-0);
        }

        .dropdown-button:nth-child(1) {
            border-top-right-radius: var(--global-square-radius);
            border-top-left-radius: var(--global-square-radius);
        }

        .dropdown-button:last-child {
            border-bottom-right-radius: var(--global-square-radius);
            border-bottom-left-radius: var(--global-square-radius);
        }

        .dropdown-button:hover {
            background-color: var(--color-blue-0);
            padding-left: 2.5rem;
            color: var(--color-white-0);
        }

        .no-results {
            margin: auto;
            padding: 2rem;
        }
    }
}

.dropdown-disabled {
    .dropdown-toggle {
        color: var(--color-black-1);
        pointer-events: none;
        color: var(--color-gray-0);

        .label {
            color: var(--color-black-1);
        }
    }
}

@keyframes slide-top {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(5px);
    }
}