@use '../../styles/elements.scss' as *;

$popup-width: 32rem;
$popup-padding: 2rem 2.4rem;
$popup-border-radius: 12px;
$popup-box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.2);
$popup-text-color: var(--color-white-0);

$popup-success-color: var(--color-green-0);
$popup-info-color: var(--color-blue-3);
$popup-error-color: var(--color-error);

:host {
    position: fixed;
    top: 3.2rem;
    right: 3.2rem;
    z-index: 1000;
    pointer-events: none;
}

.popup-wrapper {
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: $popup-width;
    max-width: 42rem;
    padding: $popup-padding;
    border-radius: $popup-border-radius;
    box-shadow: $popup-box-shadow;
    font-family: var(--font-family-dm);
    color: $popup-text-color;
    backdrop-filter: blur(8px);

    .text {
        font-weight: 300;
        letter-spacing: 0.5px;
        color: var(--color-white-0);
        margin-right: 2.2rem;
    }

    &.success {
        background: $popup-success-color;
    }

    &.error {
        background: $popup-error-color;
    }

    &.info {
        background: $popup-info-color;
    }

    .close-btn {
        position: unset;

        .icon {
            color: var(--color-white-0);
        }
    }

    .close-btn:hover {
        .icon {
            color: var(--color-blue-0);
        }
    }
}