@use '../../../styles/layout.scss' as *;

.sidebar-wrapper {
    display: flex;
    flex-flow: column;
    gap: 2.4rem;

    .image-wrapper {
        @include flex-center();
        flex-flow: column;
        width: 30.6rem;
        height: 30rem;
        border-radius: var(--global-square-radius);
        background: var(--color-gradient-0);

        .profile-image {
            width: 11.6rem;
            height: 11.6rem;
            border-radius: 50%;
            border: 2px solid var(--color-white-0);
        }
        
        .name {
            margin: 2rem 0 0.8rem 0;
        }

        .title {
            color: var(--color-blue-0);
        }
    }

    .sidebar-links-nav {
        ul {
            display: flex;
            flex-flow: column;
            gap: 2.4rem;

            li { 
                .route-link, .logout-button {
                    padding: 1.44rem 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    border: 1px solid color-mix(in srgb, var(--color-blue-2), transparent 90%);
                    border-radius: var(--global-round-radius);
                    background-color: color-mix(in srgb, var(--color-blue-2), transparent 95%);
                }

                .route-link:hover {
                    background-color: var(--color-blue-3);
                    color: var(--color-white-0);
                }

                .active {
                    background-color: var(--color-blue-3);
                    color: var(--color-white-0);
                }

                .logout-button {
                    background-color: var(--color-green-0);
                    color: var(--color-white-0);
                }
            }
        }
    }
}