<header [class.header-scrolled]="isScrolled" [class.header-not-home]="router.url !== '/' && router.url !== '/home'">
    <a routerLink="/home">
        <img src="images/company-logo.png" alt="Company Logo" class="company-logo">
    </a>
    <nav>
        <ul>
            <li class="header-list">
                <a routerLink="/home" class="header-link mb-link text-size-2" routerLinkActive="active">Home</a>
            </li>

            <li class="header-list">
                <a href="#" class="header-link mb-link text-size-2" routerLinkActive="active">About</a>
            </li>

            @if (isUserLoggedIn()) {
                <li class="header-list">
                    <a routerLink="/procedures" class="header-link mb-link text-size-2" routerLinkActive="active">Procedures</a>
                </li>
            }

            <li class="header-list">
                <a href="#" class="header-link mb-link text-size-2" routerLinkActive="active">Blog</a>
            </li>

            <li class="header-list">
                <a href="#" class="header-link mb-link text-size-2" routerLinkActive="active">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header-button-links-wrapper">
        @if (isUserSignedIn()) {
            <button class="lets-talk-button mb-button-s mb-button-round" [effect]="'arrow'">Appointment</button>
            <a class="mb-button-naked user-profile-link" routerLink="/dashboard/profile">
                <fa-icon [icon]="faUser"></fa-icon>
            </a>
        } @else {
            <button class="mb-button-naked sign-in-button" (click)="openLoginModal()">Sign In</button>
            <button class="mb-button-naked register-button" (click)="openRegisterModal()">Register</button>
        }   
    </div>
</header>
