.calendar-controls-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;

    .calendar-day-wrapper,
    .calendar-view-wrapper {
        display: flex;
        gap: 0.2rem;

        .time-button {
            .p-button {
                width: 80px;
            }
        }
    }

    .calendar-date-wrapper {
        .calendar-date {
            font-size: 1.4rem;
        }
    }
}

.calendar-wrapper {
    font-family: var(--font-family-dm);

    mwl-calendar-month-view {
        .cal-month-view {
            .cal-days {
                border: none;

                .cal-cell-row {
                    border: none;

                    mwl-calendar-month-cell {
                        border: none;

                        .cal-day-badge {
                            background-color: var(--color-red-0);
                        }
                    }
                }
            }
        }
    }

    .not-available {
        pointer-events: none;

        .cal-event {
            pointer-events: none;
        }
    }
}