.calendar-controls-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;

    .calendar-day-wrapper,
    .calendar-view-wrapper {
        display: flex;
        gap: 0.1rem;

        .time-button,
        .calendar-view {
            width: 8rem;
            height: 4rem;
            border: none;
            background-color: var(--color-blue-3);
            color: var(--color-white-0);
        }

        .time-button:disabled {
            background-color: var(--color-gray-0);
            color: var(--color-white-0);
            pointer-events: none;
        }

        .time-button:hover:disabled {
            background-color: var(--color-gray-0);
        }

        .time-button:hover,
        .calendar-view:hover,
        .active {
            background-color: var(--color-blue-1);
            transition: background-color var(--global-transition-duration) ease;
        }

        .time-button:nth-child(1),
        .calendar-view:nth-child(1) {
            border-right: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .time-button:nth-child(3),
        .calendar-view:nth-child(3) {
            border-left: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    .calendar-view-wrapper {
        display: flex;
        gap: 0.1rem;
    }
}

// Calendar

.calendar-wrapper {
    font-family: var(--font-family-dm);

    mwl-calendar-month-view {
        .cal-month-view {
            mwl-calendar-month-view-header {
                .cal-cell-row {}
            }

            .cal-days {
                border: none;

                .cal-cell-row {
                    border: none;

                    mwl-calendar-month-cell {
                        border: none;

                        .cal-day-badge {
                            background-color: var(--color-red-0);
                        }
                    }
                }
            }
        }
    }

    .not-available {
        pointer-events: none;

        .cal-event {
            pointer-events: none;
        }
    }
}