<div class="heading-wrapper" animate.enter="enter-animation-bottom">
    <h3 class="heading-h3 text-weight-500"> {{type() | titlecase}} </h3>

    <div class="buttons-wrapper">
        <button type="button" class="mb-button-naked mb-button-square" (click)="addNewFormArray()">+ Add New</button>
        <button type="button" class="mb-button-naked mb-button-square mb-button-abort" (click)="cancelEditMode.emit()">Cancel</button>
    </div>

</div>

<form [formGroup]="form" class="professional-details-form" animate.enter="enter-animation-bottom">
    <div formArrayName="items" class="details-array-wrapper">
        @for (item of formItems.controls; track $index) {
            <div [formGroupName]="$index" class="item-card">
                <ul class="field-wrapper">
                    @if (type() === 'education') {
                        <li class="field-list">
                            <span class="text-description label">University</span>
                            <mb-input formControlName="university"></mb-input>
                        </li>

                        <li class="field-list">
                            <span class="text-description label">Degree</span>
                            <mb-dropdown formControlName="degree" class="degree-dropdown" [optionsList]="degreeOptionsList" label="Degree"></mb-dropdown>
                        </li>
                    }

                    @if (type() === 'experience') {
                        <li class="field-list">
                            <span class="text-description label">Work Title</span>
                            <mb-input formControlName="workTitle"></mb-input>
                        </li>
                    }

                    <li class="field-list">
                        <span class="text-description">From</span>
                        <mb-input formControlName="from" type="date"></mb-input>
                    </li>

                    <li class="field-list">
                        <span class="text-description">To</span>
                    <mb-input formControlName="till" type="date"></mb-input>
                    </li>

                    <li class="field-list">
                        <span class="text-description">Description</span>
                        <textarea class="mb-textarea" formControlName="description"></textarea>
                    </li>   
                </ul>

                <button class="mb-button-naked update-button" (click)="submitForm($index)" [disabled]="formItems.at($index).pristine" type="submit">
                    {{ formItems.at($index).value.id ? 'Update' : 'Save' }}
                </button>
            </div>
        }
    </div>
</form>