<div class="rating-component-wrapper">
  <div class="stars-list" (mouseleave)="handleHover(null)">
    @for (icon of displayedIcons(); track $index) {
      <button class="star-button" [class.readonly]="mode() === 'readonly'" (mouseover)="handleHover($index)" (click)="handleSelect($index + 1)">
        <fa-icon [icon]="icon" class="star"></fa-icon>
      </button>
    }

    @if (reviewCount() !== undefined) {
      <span class="text-small reviews">({{reviewCount()}} Reviews)</span>
    }
  </div>

  @if (mode() === 'write' && temporarySelection() !== null) {
    <button class="submit-button mb-button-naked" (click)="emitFinalRating()">Submit</button>
  }
</div>