<div class="profile-information-wrapper" animate.enter="enter-animation-bottom">
    <div class="heading-wrapper">
        <h5 class="heading-h5 text-size-4">Profile Information</h5>
        <button class="mb-button-xs edit-button" (click)="editMode.set(!editMode())">Edit</button>
    </div>

    <div class="divider"></div>

    @if (!editMode()) {
        <ul class="info-list-wrapper">
            @for (info of userInfoList(); track $index) {
                @if (info.value) {
                    <li class="info-list">
                        <span class="text-description info-name"> {{info.name| titlecase}}: </span>
                        <span class="text-description info-value"> {{info.value | titlecase}} </span>
                    </li>
                }
                
            }
        </ul>
    }

    @if (editMode()) {
        <form [formGroup]="userForm" class="user-form-group">
            <ul class="field-list-wrapper">
                @for (field of userInfoList(); track $index) {
                    <li class="field-list">
                        <span class="text-description info-name"> {{field.name | titlecase}}: </span>
                        <mb-input [type]="setInputType(field.name)" class="mb-input" [formControlName]="field.name" [placeholder]="field.name | titlecase"></mb-input>
                    </li>
                }
            </ul>
        </form>
    }
</div>