@use '../../../../styles/layout.scss' as *;

.register-modal-wrapper {
    width: 64rem;
    min-width: inherit;
    @include flex-center();
    flex-flow: column;
    padding: 1.6rem 2.4rem;
    background: var(--color-gradient-0);
    overflow-y: auto;

    .company-logo {
        width: 18rem;
        margin: 3.2rem 0 4rem 0;
    }

    form {
        width: 100%;

        .input-wrapper {
            display: flex;
            flex-flow: column;
            gap: 3.84rem;
            padding: 1.6rem;
            height: 46vh;
            overflow-y: auto;
        }
    }

    .submit-button {
        margin: 4.8rem 0 3.2rem 0;
    }
}