@use '../../../styles/layout.scss' as *;

.login-modal-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 550px;
    height: 100%;
    gap: 2rem;
    background: var(--color-gradient-0);
    padding: 5rem 4rem 2rem 4rem;

    img {
        width: 18rem;
        height: 50px;
    }

    form {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        height: 100%;

        .input-wrapper {
            width: 100%;
            @include flex-column();
            gap: 2.4rem;

            input {
                width: 100%;
            }
        }

        .remember-me-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 2rem 0;

            .forget-link {
                color: var(--color-blue-3);
            }

            .forget-link:hover {
                color: var(--color-blue-0);
            }
        }

        .error-message {
            color: var(--color-error);
            margin-bottom: 2rem;
            font-weight: 500;
        }
    }
    .divider {
        width: 100%;
        height: 1px;
        background-color: var(--color-blue-0);
        opacity: 0.3;
    }

    .text-button-wrapper {
        display: flex;
        align-items: center;
        
        .signup-link {
            margin-left: 0.64rem;
            color: var(--color-blue-2);
            font-size: 1.4rem;
        }
    
        .signup-link:hover {
            color: var(--color-blue-0);
        }
    }
}