<div [class]="switchClass()">
  @if (reversedLabels()) {
    <span class="side-label text-description" [class.active]="checked" (click)="setToggle(true)">{{onLabel()}}</span>
  } @else {
    <span class="side-label text-description" [class.active]="!checked" (click)="setToggle(false)">{{offLabel()}}</span>
  }
  
  <label class="switch">
    <input type="checkbox" [id]="id()" [checked]="checked" [disabled]="disabled" (change)="onToggle($event)">
    <span class="slider"></span>
  </label>
  
  @if (reversedLabels()) {
    <span class="side-label text-description" [class.active]="!checked" (click)="setToggle(false)">{{offLabel()}}</span>
  } @else {
    <span class="side-label text-description" [class.active]="checked" (click)="setToggle(true)">{{onLabel()}}</span>
  }
</div>