<div [class]="switchClass()">
  @if (reversedLabels()) {
    @if (onLabel()) {
      <span class="side-label text-description" [class.active]="checked()" (click)="setToggle(true)">{{onLabel()}}</span>
    }
  } @else {
    @if (offLabel()) {
      <span class="side-label text-description" [class.active]="!checked()" (click)="setToggle(false)">{{offLabel()}}</span>
    }
  }
  
  <label class="switch">
    <input type="checkbox" [id]="id()" [checked]="checked()" [disabled]="disabled" (change)="onToggle($event)">
    <span class="slider"></span>
  </label>
  
  @if (reversedLabels()) {
    @if (offLabel()) {
      <span class="side-label text-description" [class.active]="!checked()" (click)="setToggle(false)">{{offLabel()}}</span>
    }
  } @else {
    @if (onLabel()) {
      <span class="side-label text-description" [class.active]="checked()" (click)="setToggle(true)">{{onLabel()}}</span>
    }
  }
</div>