@if (doctor(); as data) {
    <div class="doctor-wrapper">
        <div class="description-wrapper" animate.enter="enter-animation-right">
            <div class="rating-wrapper">
                <rating mode="readonly" [rating]="+data.rating.point"></rating>
                <span class="text-small">({{ data.rating.reviews }} Reviews)</span>
            </div>
            
            <h2 class="heading-h2 text-weight-400 name">{{ data.first_name }} {{ data.last_name }}</h2>
            
            <ul class="doctor-details-wrapper">
                <li class="doctor-details-list">
                    <fa-icon class="icon" [icon]="icons.title"></fa-icon>
                    <p class="text-description">{{ data.title }}</p>
                </li>

                <li class="doctor-details-list">
                    <fa-icon class="icon" [icon]="icons.bio"></fa-icon>
                    <p class="text-description bio">{{ data.bio }}</p>
                </li>

                <li class="doctor-details-list">
                    <fa-icon class="icon" [icon]="icons.timezone"></fa-icon>
                    <p class="text-description">{{ data.timezone }}</p>
                </li>

                @if (data.age_is_public) {
                    <li class="doctor-details-list">
                        <fa-icon class="icon" [icon]="icons.age"></fa-icon>
                        <p class="text-description">{{ data.dob | dobToAge }} Years old</p>
                    </li>
                }
            </ul>
            
        </div>
        
        <img class="doctor-image" [src]="data" (error)="handleImageError($event)" alt="Doctor" animate.enter="enter-animation-left"/>
    </div>
}