// Global styles for the application

@use './app/styles/reset.scss';
@use './app/styles/colors.scss';
@use './app/styles/text-styles.scss';
@use './app/styles/input-styles.scss';
@use './app/styles/animations.scss';

:root {
    --global-side-padding: 8.7rem;
    --global-border-radius: 10px;
    --global-transition-duration: 0.3s;
    --global-square-radius: 8px;
    --global-round-radius: 30px;
    --highest-z-index: 2147483647;
}